body {
  background-color: #3AAFA9;
}

.navbar-brand img {
  height: 25px;
  width: 25px;
}

.navbar.navbar-inverse {
  background-color: #17252A;
}

.nav.navbar-nav li a {
  color: white;
}

.index-page-header {
  text-align: center;
}

.app-description {
  text-align: center;
}